body{
    background-color: rgb(121, 29, 29);
 
}

#hero-img {
    width: 50px;
}
h1{
    font-size: 3em;
    color: forestgreen;
}
h2{
color: forestgreen;
    font-size: 5em;
}
#stuff{
color :green;
}
