@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100&display=swap');
body{
    background-color: #345B3B;
    /* #9CA4AB
    #545454 */
    color: black;
   
    
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 22px;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}


nav a {
    padding: 35px;
    text-align: center;
    color: red;
    text-decoration: none;
    font-family: verdana, trebuchet, serif;
    
}
a{
    font-family: verdana, tebuchet, erif;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: auto; */
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h4{
    /* color: yellow; */
    text-align: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hero-msg h1{
    text-align: center;
    color: red;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%
}
#stuff{
    color :green;
    }
    #background{
        background-color: #545454;
        height: 725px;
        grid-column: 1/11;
        grid-row: 4/9;
    }
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
main{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* grid-auto-rows: 1fr; */
}

main section{
    text-align: center;
}
main section img{
    box-sizing: border-box;
}
footer{
    background-color: #545454;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
}
footer .social img{
    padding-top: 15px;
}
header{    background-color: #545454;
    display: grid;
    grid-template-columns: 150px auto;
}
header nav{
    grid-column: 2/3;
}
nav {
    display: flex;
    justify-content: space-around;
}
.card-img{
border: 10px solid white;
}
.book:hover, .join:hover{
    background-color: #9CA4AB;
}
.book, .join{
    background-color: #545454;
    color: red;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.home-title{
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.logo {
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.msg{
    background-color: #9CA4AB;
    padding: 35px;
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}

.card-img{
    border: 10px solid #d9c2a3;
    box-shadow: 5px 5px 10px #6f7364;
    transition: transform .5s;
}
.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
   
    box-shadow: 5px 5px 10px #6f7364;
}
.msg{
    background-color:  #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}


.twohead img{
    width: 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
}
.twohead h1{
    grid-column: 2/3;
    color: orange;
    grid-row: 1/2;
    text-align: center;
}
.twohead{
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.things{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 400px 400px 400px; */
    justify-items: center;
}
.comment{
    color: white;
}


nav a:hover{
        background-color: #9CA4AB;
}
h1{
    font-family:Dancing Script, verdana, serif;
    font-size: 3em;
    color: #9CA4AB;
}
h2{
    font-family:Dancing Script, verdana, serif;
color: black; 
    font-size: 2em;
    margin: 0;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
       
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}