body{
    background-color: grey;
    text-align: center;
}
#Big{
    width: 40%;
}
section img{
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin: 30px;
    border-radius: 120%;
    width: 200px;
    height: 200px;
     overflow: auto;
}