body{
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 margin: 0 auto;
    background-color: forestgreen;
    color: white;
    margin-top: 5%;
    margin-bottom: auto;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
ol{
    
   font-weight: bold;
    margin 0 auto;
    color: black;
}
   
li{
    padding: .5em 0;
}
.end{
    color: black;
}
#hovering:hover{
    color:black;
}
.quote{
font-size: 1.5em;
font-weight: bold;
}